@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 40%;
    --border: 0 0% 0%;
    --ring: 221 83% 53%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --border: 0 0% 100%;
    --ring: 221 83% 53%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans font-bold;
    background-image: radial-gradient(#00000011 1px, transparent 0);
    background-size: 24px 24px;
  }
}
@layer components {
  .neo-container {
    @apply border-4 border-black bg-white shadow-hard rounded-xl p-6;
  }
}